/* Space Preset */
:root {
    --var-background: url(https://i.pinimg.com/originals/ca/2a/fe/ca2afeee32ba6976539d9c69d163a342.png);
    --var-accent: #5317ab;
    --var-black1: rgb(0 0 0 / 55%);
    --var-black2: rgb(0 0 0 / 65%);
    --var-notification: #db39d0;
    --var-popout-color: rgb(19 17 18);
    /* Chat */
    --var-chat-bubbles-background: rgb(190 111 197);
    --var-chat-bubbles-edge-background: rgb(3 0 59);
    --var-chat-mentioned: rgb(2 173 157);
}
